* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', 'sans-serif';
    margin: 0;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 550px;
    border: 1px solid rgb(194, 194, 194);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    height: 55px;
    width: 100%;
    background-color: #F55A5A;
}

.header p {
    color: white;    
    font-weight: 500;
    transform: translateY(2px)
}

.card {
    display: flex;
    align-items: center;
    gap: 19px;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 18px;
    padding-bottom: 18px;    
    border-bottom: 2px solid #F5F5F5;
}

.card:last-child {
    border-bottom: none;
}

.card:first-of-type {
    padding-top: 0;
    margin-top: 45px;    
}

.card:nth-of-type(1) .image {
    transform: scale(0.45);
}

.card:nth-of-type(2) .image {
    transform: scale(0.4) translateX(-30px);
}

.card:nth-of-type(3) .image {
    transform: scale(0.12) translateX(-45px);
}

.image-container {
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    width: 125px;
    height: 168px;
    overflow: hidden;
    border-radius: 5px;    
}

.country-and-gMaps-div {
    display: flex;
    align-items: center;
    gap: 12px;
}

.country {
    font-size: 10.24px;
    white-space: nowrap;
    

}

.view-on-gMaps-anchor {
    font-size: 10.24px;
    color: #918E9B;
}

.place {
    font-size: 25px;
    margin-top: 4px;
    margin-bottom: 15px;
}

.visit-date {
    font-size: 10.24px;
    font-weight: bold;
    margin-bottom: 0px;
}

.explanation {
    font-size: 10.24px;
    margin-top: 9px;
}

.location-info {
    display: flex;
    align-items: center;    
}

.location-sign {    
    width: 20px;
    height: 20px;
}

.copyright {
    text-align: center;
    font-size: 12px;
    color: red;
}